#question
{
    text-align: center;
    width: 100%;
}

#task .test
{
    height:50px;
    width: 100%;
    display:inline-block
}

#task 
{
    width: 500px;
    height: 100% ; 
    display: inline-block;
}

#task .div-block
{
    display: block;
}

#task .progress {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  padding: 0px;
  margin:0px;
  font-size: 10px;
  text-align: left;
 

}

#task .progressbar {
  width: 1%;
  height: 20px;
  background-color: #4CAF50;
  display: inline-block;
  padding: 0px;
  margin:0px;
  font-size: 10px;
}

/* #task .taskborder
{
    border-style: dotted;
    border-color: grey;
    border-width: 2px;

} */
/* 
.taskborder
{
    border-style: dotted;
    border-color: grey;
    border-width: 2px;
} */

#task .timer
{
    
    height:100%;
    width:70px;
    display: inline-block;
    text-align: center;
    position: relative;

}

#task #details div
{
    display: inline-block;
    font-size:50px;
    margin: 10px;
    background: white;
    text-align: center;
    padding: 10px
}

.height
{
    height: 100px;
}

.center
{
    text-align: center;
    height: 50px;
}


#task .canvas
{
      width: 20px;
      height: 20px;
}


#task .nextQuestion
{
    display:block;
    background: white;
    margin: 0px;
    align-content: left;
    margin: 0px;
    text-align: left;
}

#task button
{
    width: 400px;
    height: 100px;
    background: None;
    font-size:20px;
    color:white;
    
    border-width: 2px;
    border-color:darkred;
    border-style: solid;
    border-radius: 10px;
    background: darkred;

}

#task button:focus
{
    outline: 0 !important;
    border-color:red;
    background: red;
  
}

#task button:hover
{
   
    height: 100px;
    background: None;
    font-size:20px;
    color:white;
    outline: 0 !important;
    border-width: 2px;
    border-color:red;
    border-style: solid;
    border-radius: 10px;
    background:red;
    opacity: 0.8;

}


#task .answer
{
    display: inline-block;
    height: 60px;
    width: 120px;

}

#details input {
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    outline: none;
    outline-width: 0;
    height: 50px;
    border-color:lightgray;
    border-width: 2px;
    padding: 10px;
    text-align: center;
    font-size:40px;
    width:100px

}

#details input:focus {
  border-color: darkgray;
  border-radius: 0px;
  border-width: 2px;

}

.display-time
{
    font-size: 50px;
    color:green;
   
}

.display-time-red
{
    font-size: 50px;
    color:red;
}


@media screen and (max-width:400px){

    
    #task .test
    {
        position: absolute;
        bottom: 0px;
        /* top: 0px; */
        left: 0px;
        padding-bottom: 20%;
    }
    
    #task .nextQuestion
    {
        text-align: center;
    }
        
    #task button
    {
        width:80%
    }

    #task
    {
        width:300px
    }

    #task #details div
    {
        display: inline-block;
        font-size:35px;
        margin: 5px;
        background: white;
        text-align: center;
        padding: 5px
    }
    #details input:focus {
        border-color: darkgray;
        border-radius: 0px;
        border-width: 2px;
        font-size:30px;
        height: 35px;
      
      }
      
    #details input {
        border-top-style: solid;
        border-right-style: solid;
        border-left-style: solid;
        outline: none;
        outline-width: 0;
        height: 35px;
        border-color:lightgray;
        border-width: 2px;
        padding: 10px;
        text-align: center;
        font-size:30px;
        width:50px
    
    }

    #task .answer
    {
        display: inline-block;
        height: 60px;
        width: 70px;

    }
    .display-time
    {
        font-size: 35px;
    
    }

    .display-time-red
    {
        font-size: 35px;
 
    }


}